@value mobileMinWidth from "../../../app/values.module.css";

.main {
  display: flex;
  flex-flow: row nowrap;

  /*prettier-ignore*/
  @media (width >= mobileMinWidth) {
    max-height: 320px;
  }

  .info {
    flex: 1;
    padding: 48px;
    min-width: 300px;

    display: flex;
    flex-flow: column nowrap;
    gap: 24px;

    .header h1 {
      font-size: 2em;
    }
  }

  .info section {
    overflow-y: auto;
  }
}

.main .info .header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 24px;
}

.main .image {
  position: relative;

  width: 320px;
  height: 320px;
}

.main .image img {
  object-fit: cover;
}

/* prettier-ignore */
@media (width < mobileMinWidth) {
  .main {
    flex-flow: column nowrap;

    .image {
      width: 100%;
      height: mobileMinWidth;
    }

    .info {
      padding: 24px 16px;
    }
  }
  .main img {
    height: mobileMinWidth;
    position: relative !important;
    object-position: center !important;
  }
}

.favButton svg {
  width: 24px;
  height: 24px;
}
