@value mobileMinWidth from "../../../app/values.module.css";

.main {
  display: flex;
  flex-flow: row nowrap;

  .info {
    width: 67%;
    padding: 48px;

    display: flex;
    flex-flow: column nowrap;
    gap: 24px;

    .header h1 {
      font-size: 2em;
    }
  }
}

.main .info .header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 24px;
}

.main .image {
  display: flex;
  width: 33%;
  max-width: 320px;
  min-width: 180px;
}

.main .image img {
  min-width: 180px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* prettier-ignore */
@media (width < mobileMinWidth) {
  .main {
    flex-flow: column nowrap;

  .image {
      width: 100%;
      max-width: none;
      flex: 0;
    }

    .info {
      flex: 0;
      padding: 24px 16px;
    }
  }
  .main img {
    width: 100%;
    height: auto;
  }
}

.favButton svg {
  width: 24px;
  height: 24px;
}
