@value fixedWidth: 960px;

.wrapper {
  --fixed-width: fixedWidth;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;

  /* prettier-ignore */
  @media (width >= fixedWidth) {
    min-width: var(--fixed-width);
  }
}

.wrapper .content {
  width: 100%;
  overflow: hidden;

  /* prettier-ignore */
  @media (width >= fixedWidth) {
    width: var(--fixed-width);
  }
}
