.main {
  --edge-cut-width: 10px !important;

  min-width: var(--card-min-width, 188.57);
  max-width: var(--card-max-width, 253px);
}

.photo {
  width: 100%;
  height: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo a {
  display: contents;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main:hover {
  .footer {
    background-size: 100% 100%;

    .favoriteButton.isFavorite svg {
      color: var(--color-white);
    }
  }
}

.footer {
  --background-y-initial: 5.38px;
  --transition-duration: 0.3s;
  padding: 16px;
  padding-bottom: 24px;
  margin: 0;
  height: auto;

  background: linear-gradient(var(--color-red), var(--color-red)) 0 0px/100%
    var(--background-y-initial) no-repeat;
  transition: background-size var(--transition-duration) linear;

  font-size: 14px;
  line-height: 16.41px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

  .favoriteButton svg {
    /* Fijadas dimensiones porque ambos iconos tienen tamaño ligeramente distinto */
    width: 12px;
    height: 25px;

    color: var(--color-white);
  }

  .favoriteButton.isFavorite svg {
    color: var(--color-red);
    transition: color var(--transition-duration);
  }
}

.favoriteButton {
  user-select: none; /* Evita que se seleccione texto al hacer click */
}

.favoriteButton.clickable {
  cursor: pointer;
}

button.favoriteButton {
  all: unset;
}
